.current-weather {
  width: 100%;
  height: 400px;
  background-color: blue;

  &__header {
    font-size: 0.75em;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__content {
    position: relative;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    &__location {
      font-size: 1.5em;
      text-align: center;

      span {
        font-size: 0.75em;
      }
    }

    &__tempreture {
      h1 {
        font-size: 5em;
      }
      text-align: center;
      margin-bottom: 1rem;
    }
    &__condition {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__more-info {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      font-size: 0.75em;

      h4 {
        margin: 0rem 1rem;
        color: rgb(192, 192, 192);
      }
    }
  }
}

.current-weather--day {
  background: url("../assets/day.jpg") center top no-repeat;
  background-size: cover;

  color: #fffaf1;
}
.current-weather--night {
  background: url("../assets/night.jpg") center center no-repeat;
  background-size: cover;

  color: rgb(255, 255, 255);
}
