.day-forecast {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__date {
    color: #393e46;
    font-size: 1.5em;
    margin-bottom: 2rem;
  }

  &__list {
    width: 90%;
    margin: auto;

    gap: 1rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
