.week-forecast {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  background-color: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    width: 90%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
