* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.search {
  background-color: gray;
  height: 50px;
}

.current-weather {
  width: 100%;
  height: 400px;
  background-color: blue;
}

.current-weather__header {
  font-size: 0.75em;
  margin-bottom: 1rem;
  text-align: center;
}

.current-weather__content {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.current-weather__content__location {
  font-size: 1.5em;
  text-align: center;
}

.current-weather__content__location span {
  font-size: 0.75em;
}

.current-weather__content__tempreture {
  text-align: center;
  margin-bottom: 1rem;
}

.current-weather__content__tempreture h1 {
  font-size: 5em;
}

.current-weather__content__condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current-weather__content__more-info {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75em;
}

.current-weather__content__more-info h4 {
  margin: 0rem 1rem;
  color: silver;
}

.current-weather--day {
  background: url("../assets/day.jpg") center top no-repeat;
  background-size: cover;
  color: #fffaf1;
}

.current-weather--night {
  background: url("../assets/night.jpg") center center no-repeat;
  background-size: cover;
  color: white;
}

.day-forecast {
  width: 100%;
  height: 450px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.day-forecast__list {
  width: 90%;
  margin: auto;
  gap: 1rem 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.day-forecast-item {
  background-color: gray;
  border-radius: 5px;
  height: 180px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem;
}

.day-forecast-item__icon {
  width: 42px;
}

.day-forecast-item__temp {
  font-size: 1.25em;
}

.day-forecast-item__condition {
  font-size: 0.75em;
  text-align: center;
}

.day-forecast-item__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.day-forecast-item__icons__rain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85rem;
}

.day-forecast-item__icons__rain img {
  height: 12px;
}

.day-forecast-item__icons__wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85rem;
}

.day-forecast-item__icons__wind img {
  height: 12px;
}

.day-forecast-item__time {
  font-size: 0.6em;
}

.week-forecast {
  width: 100%;
  height: 200px;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.week-forecast__list {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.week-forecast-item {
  height: 150px;
  width: 150px;
  background-color: gray;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.week-forecast-item:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.week-forecast-item__temp span {
  font-size: 0.75em;
}
/*# sourceMappingURL=main.css.map */